img {
  border: solid 3px #000;
  display: block;
}

#image_display {
  position: absolute;
  right: 0;
  width: 88%;
  max-width: 88%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
  min-width: 100px;
  display:inline-block;
  border-right: solid 3px #000;
  background-color:#AAA;
  overflow: auto;
  padding: 5px;
}

ul {
  list-style-type:none;
  padding: 0px;
  margin: 5px;
}

li {
  text-align: left;
}

.caption {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 .5em .5em;
  margin: 0px;
  display: block;
}

div.image_box {
  display: table;
  padding: 0px;
  margin: 10px auto;
  box-shadow: 0 0 5em #222;
  border-radius: 0 0 .5em .5em;
}
