.header {
  grid-area: header;
  /*color: red;*/
}
.main {
  grid-area: main;
 /* color: green;*/
}
.nav {
  grid-area: sidebar;
 /* color: pink;*/
  min-width: 13%;
}
.footer {
  grid-area: footer;
 /* color: blue;*/
}

.item {
/*  border: 1em solid;*/
}

.code {
  font-style: italic;
  font-size: 0.8em;
  font-family: 'Source Code Pro', monospace;
  border: 1px solid grey;
  color: green;
  background-color: #eee;
}

span.code {
  border: 0;
  background-color: white;
}

a {
 /* color: orange;*/
}
/*
#inventory {
  color: black;
  background-color: #aaa;
}

#assembly {
  color: #aaa;
  background-color: #000;
}

#notes {
  color: black;
  background-color: #aaa;
}
*/
.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

pre {
}

html {
  font-family: 'Helvetica', 'Courier New', 'sans-serif';
}
