#mainbox {
    display: table;
    margin: 0 auto;
    border-left: solid 3px #000;
    border-right: solid 3px #000;
    border-bottom: solid 3px #000;
    /*position: absolute;*/

    /*border-radius: .5em;*/
    background-color:#AAA;
    /*box-shadow: 0 0 5em #222;*/
}

ul {
    list-style-type:none;
    margin: 20px 20px;
    padding:0px;
}

li {
    vertical-align:middle;
    display: inline-block;
    margin: 3px;
}

div.roundimg {
    height: 129px;
    width: 129px;
    border: solid 3px #000;
    border-radius: .5em;
}

div.roundimg:hover {
    box-shadow: inset 0 0 .5em #000;
}

