div.roundimg {
  height: 129px;
  width: 129px;
  padding: 20px;
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
}

div.roundimg:hover {
  box-shadow: inset 0 0 258px #555;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  text-align: center;
}
