body {
  /*background-image:url(/static/background.png);*/
  background-color: #444;
  font-family: "Merriweather Sans", "Courier New", "Courier", "sans-serif";
  color: #000000;
  font-size: 1.2em;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav {
  display: block;
  /*border-bottom: solid 3px #000;*/
  background-color: #AAA;
  margin: 0;
  padding: 5px;
  width: 100%;
}

ul {
  list-style-type:none;
  margin: 20px 20px;
  padding: 0px;
}

h1 {
  border-bottom: solid 1px #999;
  padding-bottom: 2px;
}

div {
  width: 850px;
  margin-left: auto ;
  margin-right: auto ;
}

li {
  display: inline-block;
  margin: 10px;
}

div.roundimg {
  height: 129px;
  width: 129px;
  border: solid 2px #000;
}

div.roundimg:hover {
  box-shadow: inset 0 0 258px #444;
}

